.container-hl
{
    cursor: pointer;
}

.details-box {
  margin-bottom: 30px;
}

.alert-suse {
  background: rgb(2, 211, 95);
  color: rgb(0,0,0);
  border-color: #6da741;
}

.alert-opensuse {
  background: #173f4f;
  color: #35b9ab;
  border-color: #6da741;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#predefined_search_patterns {
  margin-bottom: 10px;
}
