<html>
  <head>
    <title>SUSE Container Images Overview</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/cooverview/css/bootstrap.min.css">
    <link rel="stylesheet" href="/cooverview/css/my.css">
  </head>
  <body>
    <div class=container>
      [% INCLUDE header.tt2 %]
      [% IF error %]
        <div class="alert alert-danger">[% error %]</div>
      [% END %]
      [% FOR rep IN repositories %]
      <div class='alert alert-suse container-hl' id='hl-[% rep %]'>Found image <strong>[% rep %]</strong></div>
      <div id='details-[% rep %]'></div>
      [% END %]
    </div>
    <script src="/cooverview/js/jquery.min.js"></script>
    <script src="/cooverview/js/bootstrap.bundle.min.js"></script>
    <script src="/cooverview/js/my.js"></script>
  </body>
</html>
