<html>
  <head>
    <title>[% INCLUDE title.tt2 %]</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/cooverview/css/bootstrap.min.css">
    <link rel="stylesheet" href="/cooverview/css/cooverview.css">
  </head>
  <body>
    <div class=container>
      [% INCLUDE modal.tt2 %]

      [% INCLUDE header.tt2 %]

      <div style="margin-bottom:10px">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SettingsDialog">
          Settings
        </button>
      </div>
      [% IF error %]
        <div class="alert alert-danger">[% error %]</div>
      [% END %]
      [% FOR rep IN repositories %]
      <div class='alert [% css_class %] container-hl' id='hl-[% rep %]'><strong>[% rep %]</strong></div>
      <div id='details-[% rep %]'></div>
      [% END %]
    </div>
    <script src="/cooverview/js/jquery.min.js"></script>
    <script src="/cooverview/js/bootstrap.bundle.min.js"></script>
    <script src="/cooverview/js/cooverview.js"></script>
    <script src="/cooverview/js/js.cookie.js"></script>
  </body>
</html>
