<html>
  <head>
    <title>[% INCLUDE title.tt2 %]</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="[% theme.css %]">
    <link rel="stylesheet" href="/cooverview/css/fontawesome.css">
  </head>
  <body>
    [% INCLUDE modal.tt2 %]
    [% INCLUDE navbar.tt2 %]
    [% INCLUDE header.tt2 %]
    <div class=container>
      <div class='form-inline' id="search_patterns">
        [% INCLUDE search_buttons.tt2 %]
        <form class='mb-2 ml-md-auto' method=GET id="search_form">
	    <div class="form-group has-search" >
	      <div class="input-group">
	      <div class="input-group-prepend">
	        <span class="input-group-text"><i class="fa fa-search"></i></span>
	      </div>
	      <input type="text" class="form-control" placeholder="Search" name="srch_term" id="srch_term" type="text" value="[% srch_term | html | replace('\+', ' ') %]" style="min-width:350px;">
	    </div>
	    </div>
        </form>
      </div>

      [% IF error %]
        <div class="alert alert-danger">[% error %]</div>
      [% END %]
      
      [% FOR rep IN repositories %]
      <div class="card mb-2">
        <div class='card-header d-flex justify-content-between align-items-center [% css_class %] container-hl' id='[% rep | remove('[^A-Za-z0-9-_]+') %]' data-container='[% rep %]'>
          <span>
            <i class='fas fa-box'></i> [% rep %]
          </span>
          <span id='spinner' class='d-none'>
            <i class='fas fa-sync fa-spin'></i>
          </span>
        </div>
        <div class='collapse'>
          <div class='card-body' id='details-[% rep | remove('[^A-Za-z0-9-_]+') %]'></div>
        </div>
      </div>
      [% END %]
      
    </div>
    [% INCLUDE footer.tt2 %]
    <script src="/cooverview/js/jquery.min.js"></script>
    <script src="/cooverview/js/bootstrap.bundle.min.js"></script>
    <script src="/cooverview/js/fontawesome.min.js"></script>
    <script src="/cooverview/js/cooverview.js"></script>
    <script src="/cooverview/js/js.cookie.js"></script>
  </body>
</html>
